:root {
    --primary: #1A76FF;
    --primaryText: #FFFFFF;
    --background: linear-gradient(90deg, #2a4f6e, #74ae96)
}


@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('/font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    src: url('/font/Roboto-Regular.ttf');
}

html {
    background: var(--background);
    height: 100vh;
    color: var(--primaryText);
    font-family: 'Roboto';
}

h1,
h2 {
    font-family: 'Montserrat';
    margin: 0;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
}

ul {

    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}